/*=================================================================================global==================================================================*/

body{
/*    background-color: #f4f4f4;*/
}
.padding-0{
    padding: 0px;
}
.vertical-align-0{
    margin-top: 20%;
    transform: translateY(-50%);
}
.vertical-align-1{
    margin-top: 15%;
    transform: translateY(-50%);
}
.p-wdith{
    width: 50%;
}
/*=================================================================================global==================================================================*/

/*=================================================================================header==================================================================*/
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}

.center-logo{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.center-logo img{
    max-width: 300px;
    
}
.header-circle{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
   cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.header-circle:hover{
    background-color: #43a9ff;
}
.header-circle img{
/*     transform: translateX(50%);*/
/*    transform: translateY(50%);*/
    margin: 30%;
}

.typographi{
    margin-top: 70px;
        text-align: center;
}
.mybtn{
    background-color: white;
    color: #43a9ff;
    border-radius: 25px;
}
.mybtn:hover{
    background-color: white;
}
/*=================================================================================header==================================================================*/
/*=================================================================================sec1==================================================================*/
/*=================================================================================sec1==================================================================*/
/*=================================================================================sec2==================================================================*/
.sec2{
    background-color: #f7f8fb;
}
/*=================================================================================sec2==================================================================*/
/*=================================================================================sec3==================================================================*/
.sec3{
    background-image: url('../img/sec3-bg1.png'),url('../img/sec3-bg2.png');
    background-repeat: no-repeat;
    background-position: 2% -20%, 105% 155%;
}
/*=================================================================================sec3==================================================================*/
/*=================================================================================sec4==================================================================*/
.sec4{
    background-color: #f7f8fb;
}
/*=================================================================================sec4==================================================================*/
/*=================================================================================footer==================================================================*/
.footer{
    width: 100%;
    height: 100vh;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
/*=================================================================================footer==================================================================*/